<p class="maxitext">Informations</p>
<div class="blackbox">
  <p class="mediumtext">Filename</p>
  <p class="minitext">{{path}}</p>
  <p class="mediumtext">Size</p>
  <p class="minitext">{{size}}</p>
  <p class="mediumtext">Mode</p>
  <p class="minitext">{{mode}}</p>
  <p class="mediumtext">File Format</p>
  <p class="minitext">{{format}}</p>
  <p class="mediumtext">Palette</p>
  <p class="minitext">{{palette}}</p>
</div>
<div style="text-align: center">
  <button
    class="btn btn-primary"
    type="button"
    data-toggle="collapse"
    data-target="#toolkit"
    aria-expanded="false"
    id="toolkitbutton"
  >
    Toolkit
  </button>
</div>
