<form method="post" action="{{url_for('save_config')}}">
  {% if imported %} {% set types = imported%} {%endif%} {% for type in types%}
  {%if types[type] is mapping%}
  <p class="menutext">{{type}}</p>
  {% for subtype in types[type]%}
  <div
    class="rowdisp my-2"
    style="
      justify-content: space-between !important;
      align-items: center !important;
    "
  >
    <p class="minimenutext">{{subtype}}</p>
    <input
      type="number"
      name="{{subtype}}"
      class="form-control dark text-white"
      style="max-width: 25% !important"
      value="{{types[type][subtype]}}"
      required
    />
  </div>
  {%endfor%} {%else %}
  <div
    class="rowdisp my-2"
    style="
      justify-content: space-between !important;
      align-items: center !important;
    "
  >
    <p class="menutext">{{type}}</p>
    <input
      type="number"
      name="{{type}}"
      class="form-control dark text-white"
      style="max-width: 25% !important"
      value="{{types[type]}}"
      required
    />
  </div>
  {%endif%} {%endfor%}

  <div
    class="d-inline-flex p-2 justify-content-center align-content-center"
    style="width: 100%"
  >
    <div class="mx-2" style="margin-bottom: 5%">
      <button type="button" class="btn btn-primary">Set</button>
    </div>

    <div class="mx-2" style="margin-bottom: 5%">
      <button type="submit" class="btn btn-primary">Export</button>
    </div>
  </div>
</form>
<div
  class="d-inline-flex p-2 justify-content-center align-content-center"
  style="width: 100%"
>
  <form method="post" enctype="multipart/form-data">
    <label class="btn btn-primary" for="import-json">
      <input
        id="import-json"
        type="file"
        name="import"
        onChange="this.form.submit()"
        accept="application/JSON"
        class="d-none"
        single
      />
      Import
    </label>
  </form>
</div>
