<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8 /" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MSTechnologies Software</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <h1 class="title">MSTechnologies</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
