{% extends "template.html" %} {% block content %}

<div class="container">
  <div style="margin-top: 2% !important; margin: auto; text-align: center">
    {% if path%}

    <h4>Result</h4>
    <p>{{path}}</p>
    <div class="lightgray fit">
      <img
        class="img-fluid"
        src="{{ url_for('static', filename='img/results/'+path) }}"
        style="margintop: 2%"
        alt="Lacking image - Result of computation"
      />
    </div>
    {% else %}

    <h4>No image</h4>

    {% endif %}
  </div>
</div>
{% endblock %}
