html, body{
    height:100%;
    font-family: 'Open Sans';
    overflow:hidden;
}

.lightgray{
    background: #333333!important
}

.gray{
    background: #2D2D2D!important
}

.lightdark{
    background: #252526!important
}

.dark{
    background: #1E1E1E!important
}

.alert {
    position: absolute !important; 
    z-index:9999 !important; 
    width: 50% !important;
    top:0.5% !important;
    left:25% !important;
    margin: auto !important;
}

.nav-link{
    padding-left: 20% !important;
    padding-right: 20% !important;
}
.nav-link:hover{
    background-color: #252526!important;
    border-radius: 4px!important;
}

.title{

    margin-left: 2% !important;
    margin-top: 1% !important
}

.fit{
    padding:1%;
    max-width: fit-content;
    max-height: fit-content;
    margin:auto;
}
.menu{
    padding: 0.5% !important;
    max-width: fit-content;
    max-height: 100%;
    min-width: 10%;
}


.rowdisp {
    display: flex;
    flex-flow: row;
    height:100%;
    width: 100%;
    flex: 1 1 auto;
}
.coldisp {
    display: flex;
    flex-flow: column;
    height:100%;
    width: 100%;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.input {
    color: #131313;
}

.btn-primary, .btn-primary:visited {
    background: #002843 !important;
    border-color: #002843 !important;
}

.btn-primary:hover, .btn-primary:active{
    background: #004574 !important;
    border-color: #004574 !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
  }

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }

input[readonly] {
    background-color: white !important;
    cursor: text !important;
    box-shadow: none;

  }

input[readonly]:hover {
    box-shadow: none;
}

.blackbox{
    background-color: #1E1E1E;
    overflow: auto;
    padding: 5%;
    margin-bottom:5%;
}

.greybox{
    margin:auto;
    margin-bottom:0;
    margin-top:0;
    background-color: #2D2D2D;
    padding-left:4%;
    padding-right:4%;
    padding-top:2%;
    padding-bottom:2%;
}
.minimenutext{
    font-size: 12px;
    margin-left:10%;
    margin-bottom: 5%;
}
.menutext{
    font-size: 14px;
    margin-bottom: 5%;
    margin-left: 5%;
}
.minitext{
    font-size: 14px;
    text-align: center;
    margin-bottom: 5%;
}
.mediumtext{
    margin-left: 5%; 
    font-size: 16px;
    margin-bottom: 1%;
}
.maxitext{
    text-align: center;
    font-size: 18px;
    margin-bottom:2%;
}

.ddmenu{
    display: flex; flex-direction: row; flex: 1 1 auto; margin-left: 5%;
}

.panel-resizable {
    resize: horizontal;
  overflow: auto;
}

.icon{
    fill: white
}