{% extends "./menuToolkitTemplate.html" %} {% block mainpage %}

<div class="coldisp">
  <h2 class="title">Flow output</h2>
  <div class="container">
    <div style="margin-top: 2% !important; margin: auto; text-align: center">
      {% if path%}
      <div class="lightgray fit">
        <img
          class="img-fluid"
          src="{{ url_for('static', filename='img/results/'+path) }}"
          style="margintop: 2%"
          alt="Lacking image - Result of computation"
        />
      </div>
      {% else %}
      <h4>No flow</h4>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %} {% block options %} {% include './options/menuOptionsInfo.html'
%} {% endblock %} {% block toolkit %} {% include './options/toolkit.html' %} {%
endblock %}
